.NavigationItems {
    color: white;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-inline-start: 0;
}

@media(min-width: 500px) {
    .NavigationItems {
        justify-content: space-between;
        flex-flow: row; 
    }
}